/* CSS By AhmadMCer & Renzien */
/* Versi: 1.0 */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zen+Maru+Gothic:wght@400;500;700&display=swap');


/* Base Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Hidden except redirect */
/* body > div:not(.redirect-container) {
    display: none;
} */

/* Redirect */
.redirect-container {
    height: 100vh;
    background-color: hsla(350, 85%, 50%, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-link {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    animation: redirect-animation 3s infinite;
}

.redirect-link a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

@keyframes redirect-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Home */
.home-container {
    height: 100vh;
    position: relative;
    background-color: hsla(350, 85%, 50%, 0.9);
}

.home-logo {
    width: 75vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desktop {
    display: none;
}

.scroll-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: white;
    animation: scroll-animation 3s infinite;
}

@keyframes scroll-animation {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* About */
.about-container {
    padding: 40px;
    padding-bottom: 70px;
    background-color: white;
}

.about-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.about-text {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 1em;
}

/* Join */
.join-container {
    background-color: hsla(350, 85%, 50%, 0.9);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.number-container {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.number {
    font-family: 'Zen Dots', cursive;
    font-size: 32px;
}

.join-button {
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    color: hsla(350, 85%, 50%, 1);
}

.join-button:hover {
    background-color: hsla(350, 85%, 50%, 1);
    color: white;
}

.join-button:active {
    background-color: hsla(350, 85%, 40%, 1);
    color: white;
}

/* Footer */
.footer {
    background-color: hsla(0, 0%, 20%, 1);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.instagram {
    margin-bottom: 20px;
}

.instagram-link {
    color: inherit;
}

/* Loading */
.loading-container {
    background-color: hsla(350, 85%, 50%, 1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

.loading-text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

/* Breakpoints */
@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .about-container {
        padding: 80px 160px;
        padding-bottom: 180px;
    }

    .about-title {
        font-size: 32px;
    }

    .about-text {
        font-size: 24px;
    }

    .join-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 160px;
    }

    .number-container {
        text-align: left;
        margin-bottom: 0;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 160px;
    }

    .instagram {
        margin-bottom: 0;
    }
}